<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <meta name="description" content="Portafolio de Pablo Rodriguez. Proyecto final HTML/CSS">
    <link rel="stylesheet" href="../css/estilos.css">
    <meta name ="author" content="Pablo Rodriguez">
</head>
    <body>
            <header>
                <div class="logo">
                    <img src="../images/logo.png" alt="Logotipo">
                    <h1>BluePixel</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="/views/contacto.html">Contacto</a></li>
                        <li><a href="./presupuestos.html">Presupuestos</a></li>
                        <li><a href="./views/productos.html">Productos</a></li>
                       
                    </ul>
                </nav>
            </header>
            <main class="contacto">
                <h1>Contáctanos</h1>
                    <p>
                    En <span class="blue-text">BluePixel</span> estaremos encantados de atenderte. 
                    Aquí encontrarás nuestros datos de contacto y la ubicación de nuestra oficina.
                    </p>

                <!-- Datos de contacto -->
                <section class="info-contacto">
                <h2>Nuestra información</h2>
                <ul>
                    <li>📍 Dirección: Calle Fuencarral 7, Madrid, España</li>
                    <li>📞 Teléfono: +34 600 123 456</li>
                    <li>📧 Correo: contacto@bluepixel.com</li>
                    <li>🕒 Horario: Lunes a Viernes - 9:00 a 18:00</li>
                </ul>
                </section>

                <!-- Mapa (imagen ficticia) -->
                <section class="mapa">
                <h2>Ubicación</h2>
                <img src="../images/image.png" alt="Mapa de la ubicación de BluePixel" class="mapa-img">
                </section>
             </main>
        <footer>
            <p>&copy;2025 BluePixel. Todos los derechos reservados</p>
            <img src="../images/logo-insta.png" alt="Logo Instagram">
            <img src="../images/logoX.png" alt="Logo X">
        </footer>
    </body>
</html>