<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas de privacidad</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <meta name="description" content="Portafolio de Pablo Rodriguez. Proyecto final HTML/CSS">
    <meta name ="author" content="Pablo Rodriguez">
</head>
<body>
     <header>
    <div class="logo">
      <img src="../images/logo.png" alt="Logotipo BluePixel">
      <h1>BluePixel</h1>
    </div>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
        <li><a href="./presupuestos.html">Presupuestos</a></li>
        <li><a href="./productos.html">Productos</a></li>
      </ul>
    </nav>
  </header>

  <main class="politicas">
    <h1>Políticas de Privacidad</h1>
    <p>
      En <span class="blue-text">BluePixel</span>, nos tomamos muy en serio la privacidad de nuestros usuarios. 
      A continuación, te explicamos cómo recopilamos, utilizamos y protegemos tu información personal.
    </p>

    <section>
      <h2>1. Información que recopilamos</h2>
      <p>Podemos recopilar datos como tu nombre, correo electrónico, número de teléfono y cualquier otra información que decidas compartir con nosotros a través de formularios.</p>
    </section>

    <section>
      <h2>2. Uso de la información</h2>
      <p>La información recopilada se utiliza únicamente para:</p>
      <ul>
        <li>Responder a tus consultas.</li>
        <li>Ofrecerte servicios personalizados.</li>
        <li>Mejorar nuestro sitio web y experiencia de usuario.</li>
      </ul>
    </section>

    <section>
      <h2>3. Protección de datos</h2>
      <p>Implementamos medidas de seguridad técnicas y organizativas para proteger tu información contra accesos no autorizados, pérdida o divulgación indebida.</p>
    </section>

    <section>
      <h2>4. Cookies</h2>
      <p>Este sitio utiliza cookies para mejorar tu experiencia de navegación. Puedes configurar tu navegador para rechazarlas, aunque algunas funciones pueden verse afectadas.</p>
    </section>

    <section>
      <h2>5. Derechos del usuario</h2>
      <p>Tienes derecho a acceder, rectificar o eliminar tus datos en cualquier momento. Para ejercer estos derechos, contáctanos en <strong>soporte@bluepixel.com</strong>.</p>
    </section>

    <div class="btn-container">
      <button class="accept-btn">Aceptar Políticas</button>
    </div>
  </main>

  <footer>
    <p>&copy;2025 BluePixel. Todos los derechos reservados.</p>
    <img src="../images/logo-insta.png" alt="Instagram">
    <img src="../images/logoX.png" alt="X">
  </footer>
    
</body>
</html>